BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "BLUE" IO_TYPE=LVDS25 ;
LOCATE COMP "GREEN" SITE "26" ;
IOBUF PORT "GREEN" IO_TYPE=LVDS25 ;
LOCATE COMP "RED" SITE "21" ;
IOBUF PORT "RED" IO_TYPE=LVDS25 ;
IOBUF PORT "CLKIN" IO_TYPE=LVDS25 ;
SYSCONFIG MCCLK_FREQ=2.08 ;
LOCATE COMP "CLKIN" SITE "28" ;
LOCATE COMP "BLUE" SITE "16" ;
LOCATE COMP "DUMMY" SITE "14" ;
LOCATE COMP "CLK_BIT" SITE "4" ;
LOCATE COMP "R_BIT[1]" SITE "9" ;
LOCATE COMP "R_BIT[0]" SITE "12" ;
LOCATE COMP "G_BIT[0]" SITE "11" ;
LOCATE COMP "G_BIT[1]" SITE "8" ;
LOCATE COMP "B_BIT[0]" SITE "10" ;
LOCATE COMP "B_BIT[1]" SITE "5" ;
