BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MCCLK_FREQ=2.08 ;
LOCATE COMP "DUMMY" SITE "23" ;
LOCATE COMP "CLK_BIT" SITE "4" ;
LOCATE COMP "R_BIT[1]" SITE "9" ;
LOCATE COMP "R_BIT[0]" SITE "12" ;
LOCATE COMP "G_BIT[0]" SITE "11" ;
LOCATE COMP "G_BIT[1]" SITE "8" ;
LOCATE COMP "B_BIT[0]" SITE "10" ;
LOCATE COMP "B_BIT[1]" SITE "5" ;
LOCATE COMP "D2" SITE "28" ;
IOBUF PORT "D2" IO_TYPE=LVDS25 ;
LOCATE COMP "D1" SITE "26" ;
IOBUF PORT "D1" IO_TYPE=LVDS25 ;
IOBUF PORT "D0" IO_TYPE=LVDS25 ;
LOCATE COMP "C" SITE "21" ;
IOBUF PORT "C" IO_TYPE=LVDS25 ;
LOCATE COMP "D0" SITE "16" ;
LOCATE COMP "SDA" SITE "13" ;
LOCATE COMP "SCL" SITE "14" ;
IOBUF PORT "SCL" IO_TYPE=LVCMOS25 HYSTERESIS=SMALL PULLMODE=NONE ;
IOBUF PORT "B_BIT[0]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "B_BIT[1]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "CLK_BIT" IO_TYPE=LVCMOS25 ;
IOBUF PORT "DUMMY" IO_TYPE=LVCMOS25 ;
IOBUF PORT "G_BIT[0]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "G_BIT[1]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "R_BIT[0]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "R_BIT[1]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "SDA" IO_TYPE=LVCMOS25 HYSTERESIS=SMALL PULLMODE=NONE ;
